<!DOCTYPE html>

<html lang=en>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>memory Cards</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="memoryCards.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div class="container" id="memoryCards">
        <div class="row">
            <div class="gameStatistics col-xs-12">
                <p>Score {{numOfCardsBeginning - numOfCardsCurrent}} <span> Number of Clicks {{numOfClicks}} </span></p>
                <div class="form-group col-xs-3">
                    <label for="sel1">Select list (select one):</label>
                    <select class="form-control" id="sel1" v-model="numOfCardsBeginning">
                        <option v-for="n in 15">{{ n }}</option>
                    </select>
                    <button v-on:click="resetGame">Reset</button>
                </div>
                <p>Number of cards selected {{numOfCardsBeginning}}</p>
            </div>
        </div>

        <div class="row">
            <div class="cardContainer">
                <div v-for="card in cardGameArray" v-bind:style="{ 'background-color': card.color }" v-bind:class="{ card: true, showGray: true }" v-on:click="cardClicked(card.id)">
                </div>
            </div>

        </div>

    </div>

</body>

<script src="memoryCards.js"></script>