h1 {
    background-color: red;
}

.container {
    border: 1px solid black;
}

.card {
    width: 110px;
    height: 110px;
    float: left;
    border: 1px solid white;
}

.cardContainer {
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.gameStatistics {
    
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}