<!DOCTYPE html>

<html>

<head>
    <title>Learning Vuejs by building a notes app</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
</head>

<body>
    <div id="searchNote">
        <label>Search or Create Note <input type="text" v-model="searchString" v-on:keyup.enter="addNote"></input></label>

        <ol>
            <li v-for="item in filteredNotes">

                <p v-if="!item.titleEditableMode" v-on:click="toggleNoteTitleEditMode(item)">{{item.title}} <button v-on:click="toggleNoteTitleEditMode(item)">Edit</button><button>Delete</button></p>

                <input type="text" v-if="item.titleEditableMode" v-model="item.title" v-on:keyup.enter="toggleNoteTitleEditMode(item)">

                <p>{{item.text}}</p>
            </li>
        </ol>

    </div>

    <script>
        //TODO - How to split the search bar and the notes display section into different html components with separate IDs?
        //TODO - How to ensure that when the user presses enter to create a note that note also shows up in the search results?
        var notes = [
            {
                title: "How to add Notes?",
                titleEditableMode: false,
                text: "Add notes by typing the title in the search bar and pressing enter"
            },
            {
                title: "Swimming",
                titleEditableMode: false,
                text: "Text for Note 2"
            },
            {
                title: "Football",
                titleEditableMode: false,
                text: "Text for Note 3"
            },
            {
                title: "Cricket",
                titleEditableMode: false,
                text: "Text for Note 4"
            },
            {
                title: "Karate",
                titleEditableMode: false,
                text: "Text for Note 5"
            },
            {
                title: "Poker",
                titleEditableMode: false,
                text: "Text for Note 6"
            }
        ];


        var searchNote = new Vue({
            el: "#searchNote",
            data: {
                titleEditableMode: false, 
                searchString: ""
            },
            methods: {
                addNote: function() {
                    var noteTitle = this.searchString;
                    notes.push({ title: noteTitle, text: "" });
                },
                toggleNoteTitleEditMode: function(item) {
                    console.log("Inside toggle edit mode for title");
                    console.log(item.titleEditableMode);
                    item.titleEditableMode = !item.titleEditableMode;
                    console.log(item.titleEditableMode);
                }
            },
            computed: {
                filteredNotes: function () {
                    var searchString = this.searchString.toLowerCase();
                    
                    if (searchString) {
                        
                        //console.log(searchString);
                        var notesFilteredBySearchString = [];
                        
                        for(var i=0; i < notes.length; i++){
                            var notesTitle = notes[i].title.toLowerCase();
                            if(notesTitle.indexOf(searchString) !== -1) {
                                notesFilteredBySearchString.push(notes[i]);
                            }
                        }

                        return notesFilteredBySearchString;
                    } else {
                        return notes;
                    }
                }
            }
        });
    </script>
</body>

</html>